<h1>Sudoku</h1>

<table id="pretty-board">
  <% @answer.each do |row| %>
    <tr>
        <% row.each do |num| %>
          <td>
            <%=num%>
          </td>
        <%end%>
    </tr>
  <%end%>
</table>
<br>
<%= button_to "Home", root_path, :method => :get %>