/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.flash {
  animation-name: flash;
  animation-duration: .4s;
  animation-timing-function: ease-out;
  animation-iteration-count;
  background-color: white;
}

@keyframes flash {
  0% {
    background-color: #B1F0FF;
    box-shadow: 0 0 10px 10px #B1F0FF;
  }
  5% {
    background-color: #49DDFF;
    box-shadow: 0 0 2px 2px #49DDFF;}
  100% {
    background-color: white;
    box-shadow: 0 0 0 0 #ffffff;}
  }
}