// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  font-family: Avenir;
}

h1 {
  font-size: 2em;
  color: black;
}

table#input-board {
  margin: auto;
  border-spacing: 0;
  padding: 0;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 2px gray, 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
}
th, td {
    text-align: center;
    background-color: transparent;
    padding: 0;
    border: 1px solid gray;
}

#input-board input {
  height: 3.5vw;
  width: 3.5vw;
  border: 0;
  font-family: 'Waiting for the Sunrise';
  font-size: 3vw;
  font-weight: bolder;
  text-align: center;
  background-color: transparent;
}

#input-board .neutral input {
  color: #d3d3d3;
  box-shadow: none;
}

#input-board input:hover {
  background-color: #d3d3d3;
  transition: background-color 0s;
}

#input-board input:focus {
  color: black;
  outline: 0;
  background-color: #a8a8a8;
  box-shadow: 0 0 3px 3px black;
  transition: box-shadow 0s;
}