// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    height: 50px;
    width: 50px;
    text-align: center;
}