<!DOCTYPE html>
<html>
<head>
  <title>SudokuSolver</title>
  <link href='https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<solve>
<input type="button" onClick="history.go(0)" value="Reset">
</solve>

</body>
</html>
